<app-home-layout heading="Password Reset" [instructions]="isSuccess ? [] : ['Enter an email associated with your account.', 'We will send you an email with the reset link.']">
  <form *ngIf="!isSuccess" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
    <div class="input-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" placeholder="Enter your email" 
      [ngClass]="email?.invalid && email?.value !== '' ? 'error-border' : ''"/>
      <div *ngIf="email?.invalid && email?.value !== '' && (email?.dirty || email?.touched)" class="error-message message">
        <p *ngIf="email?.errors?.['required']">Email is required.</p>
        <p *ngIf="email?.errors?.['email']">Invalid email address.</p>
      </div>
    </div>

    <div *ngIf="message" [ngClass]="{'success-message': isSuccess, 'error-message': !isSuccess}" class="message alert">
      {{ message }}
    </div>
    
    <div class="send-email">
      <button class="send-email-btn" type="submit" [disabled]="resetPasswordForm.invalid">Send Reset Link to Email</button>
    </div>
  </form>
  <div class="success-container" *ngIf="isSuccess">
    <p class="success-message message">A password link has been sent to your email.</p>
    <p class="success-message message">Please check it to update your password.</p>
  </div>
</app-home-layout>
