<div class="forgot-password-container">
    <div class="forgot-password-header">
        <img src="Carlington-icon.png" alt="Your Logo" />
    </div>
    <form *ngIf="!isSuccess" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
        <h2>Reset Your Password</h2>
        <div class="input-group">
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" placeholder="Enter your email" />
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
                <div *ngIf="email?.errors?.['required']">Email is required.</div>
                <div *ngIf="email?.errors?.['email']">Invalid email address.</div>
            </div>
        </div>

        <div *ngIf="message" [ngClass]="{'success-message': isSuccess, 'error-message': !isSuccess}">
            {{ message }}
        </div>

        <button type="submit" [disabled]="resetPasswordForm.invalid">Send Reset Link to Email</button>
    </form>
    <div *ngIf="isSuccess" class="success-container">
        <div class="icon-text-wrapper">
            <img src="success-icon.png" alt="Success" class="success-icon" />
            <strong class="success-text">Email Sent</strong>
        </div>
        <div class="success-message">
            Check your email and open the link we sent to continue!
        </div>
    </div>
    <!-- <div *ngIf="isSuccess" class="back-to-login">
        <a routerLink="/login" class="back-to-login-button"><strong>Back to Login</strong></a>
    </div> -->
</div>
