.input-group {
  margin: 2rem 0;
}

.input-group > label {
  display: block;
  margin-bottom: 0.3rem;
}

.input-group > input::placeholder {
  color: #0A050A;
}

.input-group > input {
  display: block;
  border: 0.5px solid #D9D9D9;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.input-group > input.error-border, .input-group > input.error-border:focus {
  border: 1px solid #B3261E;
  outline: 0;
}

.input-group > input:focus {
  outline: 1px solid #D9D9D9;
}

button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all .2s;
}

button:hover {
  transform: translateY(-1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.send-email {
  display: flex;
  justify-content: center;
}
.send-email-btn {
  background-color: #0B448E;
  color: #ffffff;
  border: 1px solid #2C2C2C;
}

.error-message {
  color: #B3261E;
}

.success-message {
  color: #1C79F2;
}

.message {
  margin: 0.3rem 0;
  text-align: center;
  font-size: 0.8rem;
}

.message.alert {
  padding-block: 1rem;
}

.success-container {
  padding: 0.625rem;
}
