<!-- forgot.component.html -->
<div class="forgot-password-container">
  <div class="forgot-password-header">
      <img src="carlington-icon.png" alt="Your Logo" />
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
      <h2>Reset Your Password</h2>
      <div class="input-group">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" placeholder="Enter your email" />
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
              <div *ngIf="email?.errors?.['required']">Email is required.</div>
              <div *ngIf="email?.errors?.['email']">Invalid email address.</div>
          </div>
      </div>
  
      <div *ngIf="message" class="message">
          {{ message }}
      </div>
  
      <button type="submit" [disabled]="resetPasswordForm.invalid">Send Reset Link</button>
  </form>
  <div class="back-to-login">
    <a routerLink="/login" class="back-to-login-button">Back to Login</a>
</div>
</div>
