.footer {
    background-color: #F2F2F2;
    padding: 2rem 1rem 1rem 1rem;
    color: #1E1E1E;
    font-size: 0.9rem;
}

.footer__bold {
    font-weight: bold;
}

.footer__logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer__logo-text {
    margin-top: 0.4rem;
}

.footer__socials {
    margin: 1.5rem 0;
    display: flex;
    gap: 1rem;
}

.footer__end {
    margin: 5rem 0 2rem 0;
}

.footer__end > p {
    margin-top: 1rem;
}

.footer__nav > div {
    width: fit-content;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 8rem;
    margin-top: 4rem;
}

.footer__nav-heading {
    margin-bottom: 2rem;
}

.footer__nav button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
    color: #1E1E1E;
    font-size: 0.9rem;
}

.footer__nav a {
    text-decoration: none;
    display: block;
    color: #1E1E1E;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.chc__link {
    color: #1C79F2;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #0B448E;
    }
}

@media screen and (min-width: 768px) {
    .footer__details {
        display: flex;
        gap: 5rem;
    }

    .footer__contact {
        width: 20%;
    }

    .footer__nav {
        gap: 5rem;
        margin-top: 0;
        justify-content: space-between;
        width: 80%;
        padding: 0 1rem;
    }

}

@media screen and (min-width: 1280px) {
    .footer {
        padding:  2rem 2rem 1rem 2rem;
    }

    .footer__contact {
        width: 15%;
    }
    .footer__nav {
        padding: 0 8rem 0 3rem;
        width: 85%;
    }
}
