<footer class="footer">
    <div class="footer__details">
        <div class="footer__contact">
            <div class="footer__logo">
                <img src="logo-black.svg" class="" alt="app logo"/>
                <!-- <img src="logo-text-black.svg" class="footer__logo-text" alt="app text logo"/> -->
            </div>
            <div class="footer__socials">
                <a routerLink="/dashboard"><img src="x.svg" class="" alt="x logo"/></a>
                <a href="https://www.instagram.com/carlingtonchc" target="_blank" rel="noopener noreferrer">
                    <img src="instagram.svg" alt="instagram logo"/>
                </a>
                <a routerLink="/dashboard"><img src="youtube.svg" class="" alt="youtube logo"/></a>
                <a href="https://www.linkedin.com/company/carlington-community-health-centre" target="_blank" rel="noopener noreferrer">
                    <img src="linkedin.svg" alt="linkedin logo"/>
                </a>
            </div>
            <div class="footer__email">
                <!-- <p>contact&#64;lumisight.com</p> -->
                <p>contact</p>
            </div>
        </div>

        <div class="footer__nav">
            <div class="footer__tabs">
                <p class="footer__bold footer__nav-heading">Navigation</p>
                <button (click)="switchTab('board')">Board of Directors</button>
                <button (click)="switchTab('qca')">QCA</button>
                <button (click)="switchTab('management')">Management</button>
                <button (click)="switchTab('dataentry')">Data Entry</button>
                <button *ngIf="userRole === 'Admin'" (click)="switchTab('admin')">Admin</button>
            </div>
            <div class="footer__user">
                <p class="footer__bold footer__nav-heading">User</p>
                <button (click)="logout()">Logout</button>
            </div>
            <div class="footer__resources">
                <p class="footer__bold footer__nav-heading">Resources</p>
                <a routerLink="/dashboard">Terms of Service</a>
                <a routerLink="/dashboard">Cookies agreement</a>
            </div>
        </div>
    </div>

    <div class="footer__end">
        <p>2024 Carlington Community Health Center, All Rights Reserved</p>
        <p>Funded by <span class="footer__bold">Ontario Trillium Foundation</span> </p>
    </div>

</footer>
