<footer class="footer">
    <div class="footer__details">
        <div class="footer__contact">
            <div class="footer__logo">
                <img src="logo-black.svg" class="" alt="app logo"/>
                <!-- <img src="logo-text-black.svg" class="footer__logo-text" alt="app text logo"/> -->
            </div>
            <div class="footer__socials">
                <!-- <a routerLink="/dashboard"><img src="x.svg" class="" alt="x logo"/></a> -->
                <a href="https://www.instagram.com/carlingtonchc" target="_blank" rel="noopener noreferrer">
                    <img src="instagram.svg" alt="instagram logo"/>
                </a>
                <!-- <a routerLink="/dashboard"><img src="youtube.svg" class="" alt="youtube logo"/></a> -->
                <a href="https://www.linkedin.com/company/carlington-community-health-centre" target="_blank" rel="noopener noreferrer">
                    <img src="linkedin.svg" alt="linkedin logo"/>
                </a>
            </div>
            <div class="footer__email">
                <p>Visit our <a href="https://carlingtonchc.com/" target="_blank" rel="noopener noreferrer" class="chc__link">Carlington CHC</a></p>
            </div>
        </div>

        <div class="footer__nav">
            <div class="footer__tabs">
                <p class="footer__bold footer__nav-heading">Navigation</p>
                <button *ngFor="let tab of tabList" (click)="tab.action(); scrollUp()">{{tab.label}}</button>
            </div>
            <div class="footer__user">
                <p class="footer__bold footer__nav-heading">User</p>
                <button (click)="logout()">Logout</button>
            </div>
            <div class="footer__resources">
                <p class="footer__bold footer__nav-heading">Resources</p>
                <a routerLink="/dashboard">Terms of Service</a>
                <a routerLink="/dashboard">Cookies agreement</a>
            </div>
        </div>
    </div>

    <div class="footer__end">
        <p>2024 Carlington Community Health Center, All Rights Reserved</p>
        <p>Funded by <span class="footer__bold">Ontario Trillium Foundation</span> </p>
    </div>

</footer>
