html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

app-header {
  flex-shrink: 0;
}

app-footer {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
