<div class="header">

  <div class="mobile-menu-container">
    <button class="mobile-menu-btn">
      <img src="menu.svg" class="" alt="mobile menu" (click)="setMenu(true)"/>
    </button>

    <div class="mobile-menu" *ngIf="menuOpen" [ngClass]="fadeOut ?  'close' : ''">
      <div class="mobile-menu__close">
        <img src="close-icon.svg" class="" alt="mobile menu close btn" (click)="setMenu(false)"/>
      </div>
      <div class="mobile-menu__nav" *ngFor="let tab of tabList" [class.active]="selectedTab === tab.name" (click)="tab.action(); setMenu(false)">
        <button>{{ tab.label }}</button>
      </div>
    </div>
  </div>

  <div class="header__logo-container">

    <div class="header__logo">
      <img src="logo-white.svg" class="" alt="app logo"/>
    </div>
    <div class="header__logo-text">
      <!-- <img src="logo-text.svg" class="" alt="app text logo"/> -->
    </div>

  </div>

  <div class="header__tabs">

    <button class="header__btn" *ngFor="let tab of tabList" [class.active]="selectedTab === tab.name" (click)="tab.action()" >
      <img [src]="tab.img" class="" [alt]="tab.label + ' Tab Icon'"/>
      <span>{{tab.label}}</span>
    </button>

  </div>

  <div class="header__user">
    <button (click)="showProfile = true"><img src="user-icon.svg" class="" alt="user icon"/></button>
    <app-profile *ngIf="showProfile" (close)="showProfile = false" (logoutUser)="logout()"
    [name]="userName" [email]="userEmail">
    </app-profile>
  </div>

</div>
