<app-sidebar-layout [navList]="navList" [activeNav]="currentAdminAction">
  <div class="notification" *ngIf="notificationService.getMessage()"
  [ngClass]="notificationService.getStatus() ? notificationService.getStatus() === 'success' ? 'success' : 'error' : ''">
    {{ notificationService.getMessage() }}
  </div>

  <div class="admin-content">
    <div *ngIf="currentAdminAction === 'manageUsers'">
      <app-users (showNotification)="showNotification($event)"></app-users>
    </div>

    <div *ngIf="currentAdminAction === 'manageDashboards'">
      <app-manage-dashboards (showNotification)="showNotification($event)"></app-manage-dashboards>
    </div>

    <div *ngIf="currentAdminAction === 'auditLogs'">
      <app-audit-logs (showNotification)="showNotification($event)"></app-audit-logs>
    </div>
  </div>
</app-sidebar-layout>
