<app-sidebar-layout [navList]="navList" [activeNav]="currentAdminAction">
  <app-confirmation-modal
    *ngIf="isDeleteModalOpen"
    [message]="'Are you sure you want to delete this user?'"
    (confirmed)="onDeleteConfirmed($event)"
  >
  </app-confirmation-modal>

  <div class="notification" *ngIf="notificationService.getMessage()">
    {{ notificationService.getMessage() }}
  </div>

  <div class="admin-content">
    <div *ngIf="loading">Loading users...</div>

    <div *ngIf="currentAdminAction === 'manageUsers'">
      <button class="create-user-button" (click)="openModal()">
        Create User
      </button>
      <div class="search-container">
        <input
          type="text"
          placeholder="Search Users by Name or Email"
          [(ngModel)]="searchTerm"
          (input)="filterUsers()"
        />
        <span class="search-icon"><i class="fas fa-search"></i></span>
      </div>
      <div class="table-container" *ngIf="!loading && filteredUsers.length > 0">
        <div class="table-header">
          <table>
            <thead>
              <tr>
                <th style="width: 1%;">ID</th>
                <th style="width: 10%;" (click)="sort('name')">Name</th>
                <th style="width: 20%;" (click)="sort('email')">Email</th>
                <th style="width: 15%;">Access to Dashboard</th>
                <th style="width: 20%;">Access to Forms</th>
                <th style="width: 13%;" (click)="sort('department')">Department</th>
                <th style="width: 13%;" (click)="sort('title')">Job Title</th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="table-body">
          <table>
            <tbody>
              <tr *ngFor="let user of filteredUsers">
                <td style="width: 1%;">{{ user.user_id }}</td>
                <td style="width: 10%;">{{ user.first_name }} {{ user.last_name }}</td>
                <td style="width: 20%;">{{ user.mail }}</td>
                <td style="width: 15%;">
                  <ul>
                    <li *ngFor="let role of user.accessible_roles">{{ role }}</li>
                  </ul>
                </td>
                <td style="width: 20%;">
                  <ul>
                    <li *ngFor="let form of user.accessible_forms">{{ form }}</li>
                  </ul>
                </td>
                <td style="width: 13%;">{{ user.department }}</td>
                <td style="width: 13%;">{{ user.job_title }}</td>
                <td>
                  <div class="icon-container">
                    <span (click)="updateUser(user)" title="Update User">
                      <img
                        src="edit-icon.png"
                        alt="Update"
                        style="width: 18px"
                      />
                    </span>
                    <span (click)="confirmDelete(user)" title="Delete User">
                      <img
                        src="delete-icon.png"
                        alt="Delete"
                        style="width: 24px"
                      />
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="no-users" *ngIf="!loading && filteredUsers.length === 0">
        No users found.
      </div>
    </div>

    <div *ngIf="currentAdminAction === 'auditLogs'">
      <h2>Audit Logs</h2>
      <div *ngIf="loadingLogs">Loading logs...</div>
      <div *ngIf="!loadingLogs && logs.length === 0">No audit logs found.</div>
      <div class="table-container" *ngIf="!loadingLogs && logs.length > 0">
        <div class="table-header">
          <table>
            <thead>
              <tr>
                <th style="width: 2%">ID</th>
                <th style="width: 10%">Performed By</th>
                <th style="width: 70%">Details</th>
                <th style="width: 18%">Date</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="table-body">
          <table>
            <tbody>
              <tr *ngFor="let log of logs">
                <td style="width: 2%">{{ log.id }}</td>
                <td style="width: 10%">{{ log.performed_by }}</td>
                <td style="width: 70%">{{ log.details }}</td>
                <td style="width: 18%">
                  {{ log.created_date | date : "medium" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Create User Modal -->
    <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <div class="modal-header">
          <h2>Create User</h2>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="createUser()">
            <div class="form-row">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  id="firstName"
                  [(ngModel)]="newUser.firstName"
                  (ngModelChange)="isUserFormValid()"
                  name="firstName"
                  required
                />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  id="lastName"
                  [(ngModel)]="newUser.lastName"
                  (ngModelChange)="isUserFormValid()"
                  name="lastName"
                  required
                />
              </div>
            </div>
    
            <div class="form-row">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  [(ngModel)]="newUser.email"
                  (ngModelChange)="isUserFormValid()"
                  name="email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="department">Department</label>
                <input
                  type="text"
                  id="department"
                  [(ngModel)]="newUser.department"
                  (ngModelChange)="isUserFormValid()"
                  name="department"
                  required
                />
              </div>
            </div>
    
            <div class="form-row">
              <div class="form-group">
                <label for="jobTitle">Job Title</label>
                <input
                  type="text"
                  id="jobTitle"
                  [(ngModel)]="newUser.jobTitle"
                  (ngModelChange)="isUserFormValid()"
                  name="jobTitle"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="text"
                  id="password"
                  [(ngModel)]="newUser.password"
                  (ngModelChange)="isUserFormValid()"
                  name="password"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label>Access to Dashboard</label>
              <div class="roles-container">
                <div *ngFor="let role of availableRoles" class="role-checkbox">
                  <input
                    type="checkbox"
                    [id]="role"
                    [value]="role"
                    [checked]="newUser.roles.includes(role)"
                    (change)="onRoleChange(role)"
                  />
                  <label [for]="role">{{ role }}</label>
                </div>
              </div>
            </div>
           <div class="form-group">
              <label>Access to Forms</label>
              <div class="roles-container">
                <div *ngFor="let form of availableForms" class="role-checkbox">
                  <input
                    type="checkbox"
                    [id]="form"
                    [value]="form"
                    [checked]="newUser.forms.includes(form)"
                    (change)="onFormChange(form)"
                  />
                  <label [for]="form">{{ form }}</label>
                </div>
              </div>
            </div>
          </form>
        </div>
    
        <div class="modal-footer">
          <button
            class="create-button"
            (click)="createUser()"
            [disabled]="!isUserFormValid()"
          >
            Create
          </button>
          <button class="cancel-button" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
    
    <!-- Edit User Modal -->
    <div class="modal" *ngIf="isEditModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeEditModal()">&times;</span>
        <div class="modal-header">
          <h2>Edit User</h2>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateUserData()">
            <div class="form-group">
              <label for="editFirstName">First Name</label>
              <input
                type="text"
                id="editFirstName"
                [(ngModel)]="selectedUser.first_name"
                name="firstName"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="editLastName">Last Name</label>
              <input
                type="text"
                id="editLastName"
                [(ngModel)]="selectedUser.last_name"
                name="lastName"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="editEmail">Email</label>
              <input
                type="email"
                id="editEmail"
                [(ngModel)]="selectedUser.mail"
                name="email"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="editRole">Role</label>
              <select
                id="role"
                [(ngModel)]="selectedUser.role"
                (ngModelChange)="isUserFormValid()"
                name="role"
                required
              >
                <option value="" disabled>Select role</option>
                <option value="Admin">Admin</option>
                <option value="Board">Board</option>
                <option value="Management">Management</option>
              </select>
            </div>
            <div class="form-group">
              <label for="editDepartment">Department</label>
              <input
                type="text"
                id="editDepartment"
                [(ngModel)]="selectedUser.department"
                name="department"
                required
              />
            </div>
            <div class="form-group">
              <label for="editJobTitle">Job Title</label>
              <input
                type="text"
                id="editJobTitle"
                [(ngModel)]="selectedUser.job_title"
                name="jobTitle"
                required
              />
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button
            class="create-button"
            (click)="updateUserData()"
            [disabled]="!isEditFormValid()"
          >
            Update
          </button>
          <button class="cancel-button" (click)="closeEditModal()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</app-sidebar-layout>
