.admin-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.admin-sidebar {
    width: 250px;
    height: 80vh;
    background: #f1f1f1;
    border-right: 1px solid #ccc;
    padding: 10px;
    transition: width 0.3s;
}

.admin-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.admin-sidebar li {
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s;
}

.admin-sidebar li:hover {
    background: #e9ecef;
}

.admin-content {
    flex-grow: 1;
    padding: 20px;
    background: #ffffff;
}

@media (max-width: 768px) {
    .admin-container {
        flex-direction: column;
    }

    .admin-sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .admin-content {
        padding: 10px;
    }
}

.table-container {
    max-height: 430px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.table-header {
    background-color: #05589B;
    color: white;
    z-index: 1;
}

.table-header table {
    width: 100%;
}

.table-body {
    overflow-y: auto;
    flex-grow: 1;
}

.table-body table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

td {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

td:last-child {
    padding: 5px;
}

.admin-content>div {
    margin-top: 30px;
    color: #888;
}

.admin-sidebar li.active {
    background: #05589B;
    font-weight: bold;
    color: white;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
}

.close:hover {
    color: #d9534f;
}

.modal-header {
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.create-button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.create-button:hover {
    background-color: #004494;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-button:hover {
    background-color: #aaa;
}

.create-user-button {
    background-color: #05589B;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    float: right;
    margin-top: 10px;
}

.create-user-button:hover {
    background-color: #044b8b;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-container input[type="text"] {
    padding: 10px 40px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #aaa;
}

.invalid {
    border-color: #d9534f;
}

.notification {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
    transition: opacity 0.5s ease;
}

.no-users {
    text-align: center;
    font-size: xx-large;
    margin-top: 15%;
}

.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    appearance: auto;
    transition: border-color 0.3s;
}

.form-group select:focus {
    border-color: #0056b3;
    outline: none;
}

.form-group select:hover {
    border-color: #0056b3;
}

.form-group select option {
    padding: 10px;
}
  
.loading-logs {
    text-align: center;
    color: #007bff;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container span {
    cursor: pointer;
    margin-right: 10px;
}
