.admin-content {
  padding: 0.7rem;
  background: #ffffff;
  overflow-y: auto;
  height: calc(100vh - 3.75rem);
  margin: 0.55rem;
}

.notification {
  color: white;
  padding: 0.9375rem;
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 1000;
  border-radius: 0.3125rem;
  transition: opacity 0.5s ease;
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #d9534f;;
}
