.layout {
  width: 100%;
  height: calc(100vh - 3.75rem);
  flex-grow: 1;
  scroll-behavior: smooth;
}

.layout > .sidebar {
  background: #0B448E;
  padding: 1rem 1rem 2rem 1rem;
  overflow: scroll;
  height: 8rem;
}

.layout > .content {
  overflow: scroll;
}

.sidebar__item {
  list-style: none;
  order: 2;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

.sidebar__btn {
  background-color: transparent;
  color: #f2f2f2;
  border: none;
  margin: 0.5rem 0;
  padding: 0.6rem 2rem;
  cursor: pointer;
  border-radius: 5rem;
  transition: background-color .2s ease-in;
  text-align: left;
}

.sidebar__btn.active, .sidebar__btn:hover {
  background-color: #1C79F2;
}

.sidebar__toggle {
  display: none;
}

.sidebar__open, .sidebar__close {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 767px) {

  .sidebar__item.active {
    order: 1;
  }

}

@media screen and (min-width: 768px) {

  .layout {
    display: flex;
  }

  .sidebar__toggle {
    display: block;
    margin: 0.3rem 0;
  }

  .sidebar__open, .sidebar__close {
    cursor: pointer;
  }

  .layout > .sidebar {
    width: 25%;
    height: auto;
    transition: all .2s ease-in;
  }

  .layout > .sidebar.close {
    width: 5%;
    background-color: transparent;
    overflow: hidden;
  }

  .sidebar__nav {
    animation: fadein .4s ease-in-out .2s forwards;
  }

  .sidebar__nav.sidebar-close {
    display: none;
  }

  .layout > .content {
    width: 75%;
    transition: width .8s linear;
  }

  .layout > .content.sidebar-close {
    width: 95%;
  }

}

@media screen and (min-height: 750px) {
  .layout {
    height: calc(100vh - 7rem);
  }
}

@media screen and (min-height: 950px) {
  .layout {
    height: calc(100vh - 9rem);
  }
}

@media screen and (min-height: 1200px) {
  .layout {
    height: calc(100vh - 11.3rem);
  }
}

@media screen and (min-width: 1280px) {

  .layout > .sidebar {
    width: 17%;
    padding-bottom: 5rem;
  }

  .layout > .content {
    width: 83%;
  }

  .layout > .sidebar.close {
    width: 3%;
  }

  .layout > .content.sidebar-close {
    width: 97%;
  }

  .sidebar__btn {
    padding: 0.6rem 1.3rem;
  }

}

@media screen and (min-height: 1350px) {
  .layout {
    height: calc(100vh - 13rem);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
