<app-sidebar-layout [navList]="navList" [activeNav]="currentFormAction">
    <div class="data-content">
        <ng-container *ngIf="currentFormAction === 'accreditation'">
            <iframe
                src="https://forms.office.com/r/nBBSDa0AUY"
                width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'css'">
            <iframe
                src="https://forms.office.com/r/mSHF3TjCP6"
                width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'msaa'">
            <iframe
                src="https://forms.office.com/r/H57KJ5f1Xq"
                width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'sftpos'">
            <iframe
            src="https://forms.office.com/r/ZhSE3vJACU"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'qi'">
            <iframe
            src="https://forms.office.com/r/Vs9kuYR8Z3"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'faa'">
            <iframe
            src="https://forms.office.com/r/rsve1Haswt"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'hpac'">
            <iframe
            src="https://forms.office.com/r/STFWTnfmEA"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'atphc'">
            <iframe
            src="https://forms.office.com/r/DDMDyGv9xm"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'yeae'">
            <iframe
            src="https://forms.office.com/r/UmddC1r87Z"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'cc'">
            <iframe
            src="https://forms.office.com/r/rmdHyyMuht"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'dcr'">
            <iframe
            src="https://forms.office.com/r/zEBhnJNd4g"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'fs'">
            <iframe
            src="https://forms.office.com/r/dbDmRZC2Sb"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'aasss'">
            <iframe
            src="https://forms.office.com/r/k20n8ypHPn"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'cd'">
            <iframe
            src="https://forms.office.com/r/Dgk3akZDkY"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'ces'">
            <iframe
            src="https://forms.office.com/r/fH5aKs4Z8C"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'cr'">
            <iframe
            src="https://forms.office.com/r/LnLup411XP"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'fls'">
            <iframe
            src="https://forms.office.com/r/ikX1u534Jw"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'hr'">
            <iframe
            src="https://forms.office.com/r/XWqfydG816"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'inmr'">
            <iframe
            src="https://forms.office.com/r/rVZFYtLJ44"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'por'">
            <iframe
            src="https://forms.office.com/r/sUtPtPUUPK"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'sp'">
            <iframe
            src="https://forms.office.com/r/NLfsK7TRw5"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
    </div>
</app-sidebar-layout>
