.data-content {
    flex-grow: 1;
    padding: 20px;
    background: #ffffff;
}

.data-content iframe {
    width: 100%;
    height: calc(100vh - 170px);
    border: none;
}

.form-no-content {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-no-content > p {
    color: #0A050A;
}

@media (max-width: 768px) {
    .data-content {
        padding: 10px;
        flex-grow: 1;
        overflow: auto;
    }

    .data-content iframe {
        height: calc(100vh - 280px);
        min-height: 400px;
    }
}
