<app-sidebar-layout [navList]="navList" [activeNav]="currentFormAction">
    <div class="data-content">
        <ng-container *ngIf="currentFormAction === 'accreditation'">
            <iframe
                src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUN1pWMUNBVEg3UFVZMllDVkpMOE9DRDhBNC4u"
                width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'css'">
            <iframe
                src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUOTg0VENLTTdTNzdVUjExQldCVldVN1ZOTy4u"
                width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'msaa'">
            <iframe
                src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUQkRSM0hYQVdZQjVUNkpEUkNURE1PMjA3US4u"
                width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'sftpos'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUQzYxUTdaSjEzRE9XTk9YN0Q4NDdYS05QWC4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'qi'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUNVU0MFM0NkdMUk9QRkU0WFVaSDFMSE9MUy4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'faa'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUNU9JSzNQN1hUSjRIRE1MTzRFMVZKVUdFSi4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'hpac'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUQjdNUlU1VEo3MDBBTEFMRlo5WFpSMENHVC4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'atphc'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUMFo5SEdVVzJZOE1ZTFEwSDlRMFVaOFdQQi4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'yeae'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUMlFUU1lUMEVXSFBEM1I2RVNaODBZRjlPQy4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'cc'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUQ1ZPSUhBTkJBMDBXMjNLQVM2STExU0pVNC4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
        <ng-container *ngIf="currentFormAction === 'dcr'">
            <iframe
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=G398ThIiREyiISckR0hyBaHnWO33bJxJoFfw7dIgHARUMlhXVVRENEdVWUNFMlFMUkdQOTFHVEdTUS4u"
            width="100%" height="100%" frameborder="0" scrolling="auto"></iframe>
        </ng-container>
    </div>
</app-sidebar-layout>
