.data-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.data-sidebar {
    width: 250px;
    height: 80vh;
    background: #f1f1f1;
    border-right: 1px solid #ccc;
    padding: 10px;
    transition: width 0.3s;
}

.data-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.data-sidebar li {
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s;
}

.data-sidebar li:hover {
    background: #e9ecef;
}

.data-content {
    flex-grow: 1;
    padding: 20px;
    background: #ffffff;
}

.data-content iframe {
    height: 90%;
    width: 100%;
}

@media (max-width: 768px) {
    .data-container {
        flex-direction: column;
    }

    .data-sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    .data-content {
        padding: 10px;
    }
}

.data-content>div {
    margin-top: 30px;
    color: #888;
}

.data-sidebar li.active {
    background: #05589B;
    font-weight: bold;
    color: white;
}
