.login {
  padding: 1rem;
  height: 100%;
  min-height: 100vh;
  background-image: url('src/assets/images/login-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login__bg {
  display: none;
}

.login__content {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  border-radius: 1rem;
}

.login__body {
  height: 80%;
  width: 100%;
  color: #0A050A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login__body > div {
  width: 90%;
}

.login__header {
  text-align: center;
}

.login__header > h3 {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.login__header > p {
  margin: 0;
}

.logo img {
  width: 2.5rem;
}

.input-group {
  margin: 2rem 0;
}

.input-group > label {
  display: block;
  margin-bottom: 0.3rem;
}

.input-group > input::placeholder {
  color: #0A050A;
}

.input-group > input {
  display: block;
  border: 0.5px solid #D9D9D9;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.input-group > input:focus {
  outline: 1px solid #D9D9D9;
}

.login__actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.login__actions button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.login__btn {
  background-color: #0B448E;
  color: #ffffff;
  border: 1px solid #2C2C2C;
}

.forgot-password-btn {
  background-color: #E3E3E3;
  border: 1px solid #767676;
}

.input-group > input.error-border {
  border: 1px solid #e74c3c;
  outline: 0;
}

.error-message {
  color: #e74c3c;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.login__btn:disabled {
  opacity: 0.8;
}

.login__footer {
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  align-items: flex-end;
  padding: 2rem 2rem 0.5rem 2rem;
}

.login__footer > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
}

.login__footer-logo {
  width: 40%;
}

.login__footer-logo img {
  object-fit: cover;
  width: 100%;
}


@media screen and (min-width: 475px) {
  .login__footer-logo {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {

  .login {
    display: flex;
    background-color: #f2f2f2;
    background: #f2f2f2;
    padding: 0.5rem;
    height: 100vh;
  }

  .login__bg {
    display: block;
    width: 50%;
    height: 100%;
  }

  .login__body > div {
    width: 80%;
  }

  .login__bg img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 1rem;
  }

  .login__content {
    width: 50%;
    padding: 1rem 2rem;
  }

  .login__form-header > h3 {
    font-size: 2.5rem;
  }

  .logo img {
    width: 4rem;
  }

  .login__footer-logo {
    width: 40%;
  }

}

@media screen and (min-width: 1280px) {
  .login__body {
    height: 75%;
  }

  .login__body > div {
    width: 70%;
  }

  .login__footer {
    height: 25%;
  }

  .login__form-header > h3 {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1440px) {
  .login__footer-logo {
    width: 35%;
  }
}

@media screen and (min-width: 1600px) {
  .login__footer-logo {
    width: 25%;
  }
}
