<div class="home-layout">
  <div class="home-layout__bg">
    <img src="home-layout-bg.svg" alt="home layout background" />
  </div>

  <div class="home-layout__content">
    <div class="team-btn-container" *ngIf="homePage">
      <button class="team-btn" (click)="openTeamModal.emit()">
        <img src="people-outline-icon.svg" alt="People Icon"/>
        <span>Our Team</span>
      </button>
    </div>
    <div class="home-layout__body" [ngClass]="{'home-page': homePage}">
      <div>
        <div class="home-layout__header" [ngClass]="{'home-page': homePage}">
          <div class="logo">
            <img src="logo.svg" alt="app logo" />
          </div>
          <h3>{{ heading }}</h3>
          <p *ngFor="let instruction of instructions">{{ instruction }}</p>
        </div>

        <ng-content></ng-content>
      </div>
    </div>

    <div class="home-layout__footer">
      <div>
        <div class="home-layout__footer-logo">
          <img
            src="cchc-logo.svg"
            alt="carlington community health center logo"
          />
        </div>
        <div class="home-layout__footer-logo">
          <img src="OTF-icon.svg" alt="Ontario trillium foundation logo" />
        </div>
      </div>
    </div>
  </div>
</div>
