<div class="tabs-container">
  <div class="tab-content">
    <ng-container *ngIf="selectedTab === ''">
      <div class="tab-no-content">
        <p>No dashboards available</p>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'board'">
      <app-board></app-board>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'qca'">
      <app-qca></app-qca>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'op'">
      <app-operational-plan></app-operational-plan>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'ib'">
      <app-impact-blueprint></app-impact-blueprint>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'dataentry'">
      <app-data-entry></app-data-entry>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'admin'">
      <app-admin></app-admin>
    </ng-container>
  </div>
</div>
