<div class="tabs-container">
  <div class="tab-content">
    <ng-container *ngIf="selectedTab === 'board'">
      <app-board></app-board>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'qca'">
      <app-qca></app-qca>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'op'">
      <app-management></app-management>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'dataentry'">
      <app-data-entry></app-data-entry>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'admin'">
      <app-admin></app-admin>
    </ng-container>
  </div>
</div>
