.actions-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 0.5rem;
}

.search__input {
  border: 1px solid #D9D9D9;
  border-radius: 0.5rem;
  width: 30%;
  min-width: 16rem;
  height: 2.8rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: transparent;
  background-image: url('src/assets/images/search-icon.svg');
  background-position: 5% center; 
  background-repeat: no-repeat;
}

.search__input:focus {
  outline: none;
  border: 1.5px solid #1C1B1F;
}

.search__input::placeholder {
  color: #0A050A;
}

.create-user-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #0B448E;
  border: 1px solid #2C2C2C;
  border-radius: 0.5rem;
  color: #FFFFFF;
  padding: 1rem;
  font-size: 0.9rem;
  height: 2.7rem;
  cursor: pointer;
}

.users-container {
  width: 100%;
  margin-top: 1rem;  
}

.users {
  width: 100%;
  border-collapse: collapse;
  min-width: 42rem;
  overflow-x: scroll;
  color: #1C1B1F;
}

.users__header {
  background-color: #C8E0FF;
  width: 100%;
}

.users__header > th {
  font-weight: 600;
  padding: 0.8rem;
  font-size: 0.9rem;
}

.users__header > th, .user > td {
  text-align: left;
}

.users__header > th:not(:last-child), .user > td:not(:last-child) {
  border-right: 1px solid #E3E2E2;
}

.user:not(:last-child) {
  border-bottom: 1px solid #E3E2E2;
}

.users__heading--serial {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.users__heading--actions {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.users__heading--email {
  min-width: 8rem;
}

.users__heading--name, .users__heading--email,
.users__heading--dept, .users__heading--dashboard {
  width: 18%;
}

.users__heading--name, .users__heading--email,
.users__heading--dept, .users__heading--title {
  cursor: pointer;
}

.users__heading--actions, .users__heading--serial {
  width: 5%;
}

.users__heading--forms {
  width: 8%;
}
.users__heading--title {
  width: 10%;
}


.user {
  vertical-align: top;
  width: 100%;
}

.user > td {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: 0.875rem;
}

.user__serial, .user__email {
  padding-top: 1.5rem;
}

.user__dashboard {
  padding-top: 1rem;
}

.user__email {
  word-break: break-all;
}

.user__serial, .user__email, .user__dashboard, .user__title {
  padding-bottom: 0.5rem;
}

.user__name,  .user__forms, .user__actions, .user__dept {
  padding-block: 0.5rem;
}

.user__title {
  padding-top: 0.8rem;
}

.user__serial > span {
  display: flex;
  justify-content: center;
}

.user__name-label {
  border-radius: 0.625rem;
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
}

.user__name-label.beige {
  background-color: #FAEDCD;
}

.user__name-label.light-pink {
  background-color: #FFD6D6;
}

.user__name-label.mint {
  background-color: #CCE3DE;
}

.user__name-label.moss-green {
  background-color: #C9CBA3;
}

.user__name > span {
  display: flex;
  gap: 0.3rem;
  background-color: #F6F6F6;
  border-radius: 0.625rem;
  padding: 0.5rem;
  width: fit-content;
  align-items: center;
}

.user__email > span {
  padding-bottom: 0.5rem;
  display: inline-block;
}

.user__email > span.beige {
  border-bottom: 1px solid #FAEDCD;
}

.user__email > span.light-pink {
  border-bottom: 1px solid #FFD6D6;
}

.user__email > span.mint {
  border-bottom: 1px solid #CCE3DE;
}

.user__email > span.moss-green {
  border-bottom: 1px solid #C9CBA3;
}

.user__dept > span {
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.user__dept > span.beige {
  border: 1px solid #FAEDCD;
  border-top: none;
}

.user__dept > span.light-pink {
  border: 1px solid #FFD6D6;
  border-top: none;
}

.user__dept > span.mint {
  border: 1px solid #CCE3DE;
  border-top: none;
}

.user__dept > span.moss-green {
  border: 1px solid #C9CBA3;
  border-top: none;
}

.user__dashboard-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.user__dashboard-tag {
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.user__dashboard-tag.beige {
  border: 0.5px solid #F8E4B4;
  background-color: #FAEDCD;
}

.user__dashboard-tag.light-pink {
  border: 0.5px solid #F5C3C3;
  background-color: #FFD6D6;
}

.user__dashboard-tag.mint {
  border: 0.5px solid #B9D9D2;
  background-color: #CCE3DE;
}

.user__dashboard-tag.moss-green {
  border: 0.5px solid #BCBF8A;
  background-color: #C9CBA3;
}

.user__forms > button {
  background-color: transparent;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: #0B448E;
  text-decoration: underline;
}

.user__forms button:hover {
  border: 1px solid #0B448E;
  border-radius: 0.95rem;
  text-decoration: none;
  
}

.user__actions, .user__actions > button {
  display: flex;
  flex-direction: column;
}

.user__actions {
  gap: 1.5rem;
}

.user__actions > button {
  background-color: transparent;
  border: 1px solid #0B448E;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #0B448E;
}

.user__actions button:hover {
  background-color: #0B448E;
  color: #ffffff;
}

.no-users {
  text-align: center;
  color: #0A050A;
  font-size: xx-large;
  margin-top: 15%;
}

.delete-modal {
  color: #0A050A;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.delete-modal > p {
  font-size: 1rem;
}

.delete-modal__actions {
  padding-top: 2rem;
  display: flex;
  column-gap: 20%;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.delete-modal__actions > button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
}

.delete-modal__btn-delete {
  background-color: #B3261E;
  color: #FFFFFF;
  border: 1px solid #2C2C2C;
}

.delete-modal__btn-cancel {
  border: 1px solid #767676;
  background-color: #E3E3E3;
}

@media screen and (min-width: 768px) {
  .users__header > th {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1500px) {
  .search__input {
    padding-left: 5%;
  }
}
