html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars on the body */
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  app-header {
    flex-shrink: 0; /* Prevents the header from shrinking */
  }
  
  app-footer {
    flex-shrink: 0; /* Prevents the footer from shrinking */
  }
  
  .main-container {
    display: flex;
    min-height: 85vh;
    flex: 1;
    overflow: hidden; /* Prevents scrollbars */
  } 
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    margin-left: 0; /* Default margin */
    transition: margin-left 0.3s ease; /* Smooth transition for content shift */
  }
  