<div class="team-modal-overlay" *ngIf="modalOpen" [ngClass]="modalClosed ? 'close' : ''" (click)="onOverlayClick($event)">
  <div class="team-modal-content" [ngClass]="modalClosed ? 'close' : ''">
    <button class="close-btn" (click)="closeTeamModal()"><img src="close-icon2.svg" alt="close modal icon"/></button>
    <div class="team__header">
      <h3>Our Team</h3>
      <p>Meet the people behind the platform</p>
    </div>
    <div class="team__list-container">
      <div class="team__member" *ngFor="let member of teamList">
        <div class="team__member-img" >
          <img [src]="member.img" alt="" *ngIf="member.imgAvailable"/>
        </div>
        <p class="team__member-name">{{ member.name }}</p>
        <p class="team__member-title">{{ member.title }}</p>
        <a class="team__member-link" [href]="member.linkedIn" target="_blank">Linkedin Link</a>
      </div>
    </div>
  </div>
</div>
