<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="password">New Password:</label>
      <input id="password" formControlName="password" type="password" placeholder="Enter your new password" />
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </div>
  
    <div *ngIf="message" class="message">
      {{ message }}
    </div>
  
    <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
  </form>
  