<div class="reset-password-container">
  <div class="reset-password-header">
    <img src="carlington-icon.png" alt="Your Logo" />
  </div>
  <form *ngIf="!isSuccess" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password-form">
    <div class="input-group">
      <label for="password">New Password:</label>
      <input id="password" formControlName="password" type="password" placeholder="Enter your new password" />
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </div>

    <div *ngIf="message" [ngClass]="{'success-message': isSuccess, 'error-message': !isSuccess}">
      {{ message }}
    </div>

    <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
  </form>
  <div *ngIf="isSuccess" class="success-container">
    <div class="icon-text-wrapper">
      <img src="success-icon.png" alt="Success" class="success-icon" />
      <strong class="success-text">Password successfully reset</strong>
    </div>
  </div>
  <div *ngIf="isSuccess" class="back-to-login">
    <a routerLink="/login" class="back-to-login-button"><strong>Login now ></strong></a>
  </div>
</div>