.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 20px;
}

.reset-password-header {
  margin-bottom: 20px;
}

.reset-password-header img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.reset-password-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}

.reset-password-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-border, .error-border:focus {
  border: 1px solid #e74c3c;
  outline: 0;
  box-shadow: none;
}

.error-message {
  color: #e74c3c;
  font-size: 0.75em;
  margin-top: 5px;
}

.success-pattern {
  color: #15B392;
}

.success-message {
  color: #2ecc71;
  font-size: 0.875em;
  margin-top: 5px;
}

.back-to-login {
  margin-top: 20px;
  text-align: center;
}

.back-to-login-button {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.back-to-login-button:hover {
  text-decoration: underline;
}

.success-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.success-text {
  color: green;
  margin-right: 10px;
}

.success-message {
  font-size: 14px;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #d4edda;
  background-color: #d4edda;
}

.icon-text-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
