<app-home-layout heading="Password Reset">
  <form *ngIf="!isSuccess" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password-form">
    <div class="input-group">
      <label for="password">New Password:</label>
      <input id="password" formControlName="password" type="password" placeholder="Enter your new password" 
      [ngClass]="password?.invalid && password?.value !== '' ? 'error-border' : ''"/>
      <div *ngIf="password?.invalid && password?.value !== '' && (password?.dirty || password?.touched)" class="error-message message">
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</div>
        <div *ngIf="password?.errors?.['pattern']">Password must contain at least:</div>
        <p *ngIf="password?.errors?.['pattern']">
          <span
          [ngClass]="password?.errors?.['pattern']?.special ? '' : 'success-pattern'">
          <span *ngIf="!password?.errors?.['pattern']?.special">&#x2713;</span>
          <span *ngIf="password?.errors?.['pattern']?.special">&#x2717;</span>
          one special character
          </span>
        </p>
        <p *ngIf="password?.errors?.['pattern']">
          <span 
          [ngClass]="password?.errors?.['pattern']?.uppercase ? '' : 'success-pattern'">
          <span *ngIf="!password?.errors?.['pattern']?.uppercase">&#x2713;</span>
          <span *ngIf="password?.errors?.['pattern']?.uppercase">&#x2717;</span>
          one uppercase letter
          </span>
        </p>
        <p *ngIf="password?.errors?.['pattern']">
          <span
          [ngClass]="password?.errors?.['pattern']?.lowercase ? '' : 'success-pattern'">
          <span *ngIf="!password?.errors?.['pattern']?.lowercase">&#x2713;</span>
          <span *ngIf="password?.errors?.['pattern']?.lowercase">&#x2717;</span>
          one lowercase letter
          </span>
        </p>
        <p *ngIf="password?.errors?.['pattern']">
          <span 
          [ngClass]="password?.errors?.['pattern']?.number ? '' : 'success-pattern'">
          <span *ngIf="!password?.errors?.['pattern']?.number">&#x2713;</span>
          <span *ngIf="password?.errors?.['pattern']?.number">&#x2717;</span>
          one number
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="message" [ngClass]="{'success-message': isSuccess, 'error-message': !isSuccess}" class="message alert">
      {{ message }}
    </div>

    <div class="reset-password-btn-div">
      <button class="reset-password-btn" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </div>

  </form>
  <div *ngIf="isSuccess" class="success-container">
    <p class="success-message message alert">Password successfully reset</p>
  </div>

  <div *ngIf="isSuccess" class="back-to-login">
    <button class="back-to-login-btn" (click)="returnToLogin()">Back to Login</button>
  </div>

</app-home-layout>
